<div th:fragment="lessonCard(lesson)">
    <div class="lesson" th:classappend="${lesson.lessonType.name()  == 'LECTURE'} ? ' lecture-block' : ' exercise-block'">

<!--            <div class="lesson-content">-->
                <div class="lesson-header">
                    <strong th:text="|${#temporals.format(lesson.startTime, 'HH:mm')}-${#temporals.format(lesson.endTime, 'HH:mm')}|">
                        10:00–11:30
                    </strong>
                    <span class="badge" th:text="${lesson.lessonType}">LECTURE</span>
                </div>

                <div class="lesson-info">
                    <span th:text="${lesson.subjectName}">subject</span><br/>
                    <span th:text="${lesson.teacherName}">teacher</span><br>
                    <span th:text="'Classroom: ' + ${lesson.roomNumber}">Classroom: 123_c</span><br/>
                    <span th:text="'students: ' + ${lesson.groupCapacity} + '/' + ${lesson.roomCapacity} ">students: 20</span>
                </div>

                <div class="lesson-icons">
                    <span class="edit-icon"
                          th:attr="
               data-lesson-id=${lesson.lessonId},
               data-subject-id=${lesson.subjectId},
               data-teacher-id=${lesson.teacherId},
               data-day=${lesson.dayOfWeek},
               data-time=${lesson.startTime},
               data-classroom-id=${lesson.classId},
               data-type=${lesson.lessonType},
               data-assignment-id=${lesson.assignmentId}"
                          onclick="editLesson(this)">
                        ✏️
                    </span>

<!--                    <form th:action="@{/schedule/deleteLesson}" th:object="${deleteLesson}" method="post" style="display: inline;">-->
<!--                        <input type="hidden"  th:value="${lesson.lessonId}"  th:field="*{lessonIdToDelete}"/>-->
<!--                        <input type="hidden"  th:value="${lesson.startTime}"  th:field="*{startTimeToDelete}"/>-->
<!--                        <input type="hidden"  th:value="${lesson.dayOfWeek}"  th:field="*{dayOfWeekToDelete}"/>-->
<!--                        <input type="hidden"  th:value="${lesson.classroomId}"  th:field="*{classroomIdToDelete}"/>-->
<!--                        <button type="submit" onclick="return confirm('Czy na pewno chcesz usunąć lekcję?')">🗑️</button>-->
<!--                    </form>-->
                </div>


    </div>

</div>
