
<div th:fragment="editForm">

<div class="form-edit" id="edit-form" style="display: none;"
     th:object="${lessonForm}"
     th:style="${#fields.hasErrors('*')} ? 'display:flex' : 'display:none'"
>

    <form th:action="@{/schedule/editLesson}"
          th:object="${lessonForm}"
          method="post"
          >
        <input type="hidden" th:field="*{lessonId}"/>
        <input type="hidden" th:field="*{groupUniId}" />
        <input type="hidden" th:field="*{oldDayOfWeek}" />
        <input type="hidden" th:field="*{oldStartTime}" />
        <input type="hidden" th:field="*{assignmentId}" />
        <input type="hidden" th:field="*{oldTeacherId}" />
        <input type="hidden" th:field="*{oldClassroomId}" />
        <input type="hidden" th:field="*{oldSubjectId}" />
        <input type="hidden" th:field="*{oldTypeOfLecture}" />

        <div class="form-group">
            <label th:for="subjectId">Subject</label>
            <select  th:field="*{subjectId}" required>
                <option value="" disabled >choose subject</option>
                <th:block th:each="subject : ${subjects}">
                    <option th:value="${subject.id}" th:text="${subject.name}"></option>
                </th:block>
            </select>
        </div>

        <div class="form-group">
            <label th:for="teacherId">Teacher</label>
            <select name="teacherId" th:field="*{teacherId}"  required>
                <option value="" disabled selected>choose teacher</option>
                <th:block th:each="teacher : ${teachers}">
                    <option th:value="${teacher.id}" th:text="${teacher.getFullName}"></option>
                </th:block>
            </select>
        </div>

        <div class="form-group">
            <label th:for="dayOfWeek">Day of Week</label>
            <select th:field="*{dayOfWeek}" required>
                <option value="" disabled selected>choose dayOfWeek</option>
                <th:block th:each="dayOfTheWeek : ${daysOfWeek}">
                    <option th:value="${dayOfTheWeek}" th:text="${dayOfTheWeek}"></option>
                </th:block>
            </select>
        </div>

        <div class="form-group">
            <label th:for="startTime">Start Time</label>
            <select  th:field="*{startTime}" required>
                <option value="" disabled selected>Choose time</option>
                <th:block th:each="timeslot : ${timeSlots}">
                    <option th:value="${timeslot}"
                            th:text="${timeslot}"></option>
                </th:block>
            </select>
        </div>

        <div class="form-group">
            <label th:for="classroomId">Classroom</label>
            <select  th:field="*{classroomId}" required>
                <option value="" disabled selected >choose Classroom</option>
                <th:block th:each="classroom : ${classrooms}">
                    <option th:value="${classroom.id}" th:text="${classroom.roomNumber}"></option>
                </th:block>
            </select>
        </div>

        <div class="form-group">
            <label th:for="typesOfLecture">Type</label>
            <select th:field="*{typeOfLecture}" required>
                <option value="" disabled selected >Choose type</option>
                <th:block th:each="typeOfLecture : ${typesOfLecture}">
                    <option th:value="${typeOfLecture}" th:text="${typeOfLecture}"></option>
                </th:block>
            </select>

        </div>
        <div class="form-footer">
            <div th:if="${#fields.hasErrors('*')}" class="error-summary">
                <ul>
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                </ul>
            </div>
            <button class="submit" type="submit">Edit</button>
        </div>

    </form>

    </div>
</div>