<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Schedule</title>
    <link rel="stylesheet" th:href="@{/css/schedule.css}" />
</head>
<body>

<div class="container-group-form">
    <h1>Management of the schedule</h1>
    <form method="post" th:action="@{/schedule/getScheduleForGroup}" class="form-group">
        <div>
            <label for="group-select">Student groups</label>
            <select id="group-select" name="groupId" required>
                <option value="" disabled selected>Wybierz grupę</option>
                <th:block th:each="group : ${groups}">
                    <option th:value="${group.id}" th:text="${group.name}"></option>
                </th:block>
            </select>
        </div>

        <button type="submit">Find</button>
    </form>
</div>


<div th:each="entry : ${lessonsByDay}">
    <h3 th:text="${entry.key}">Monday</h3>

    <div class="lesson-container">
        <div th:each="lesson : ${entry.value}">
            <div th:insert="fragments/lesson-card :: lessonCard(${lesson})" onclick="toggleForm('${lesson.subjectId}')" ></div>
            <div class="form-edit" id="edit-${lesson.subjectId}" style="display: none;">
                <form method="post" th:action="@{/editLesson}">
                    <input type="hidden" name="lessonId" th:value="${lesson.subjectId}" />
                    <label>
                        Classroom:
                        <input type="text" name="roomNumber" th:value="${lesson.roomNumber}" />
                    </label>
                    <!-- inne pola -->
                    <button type="submit">Zapisz</button>
                </form>
            </div>
        </div>

    </div>

    </div>
<h1 th:if="${lessonsByDay == null or #maps.isEmpty(lessonsByDay)}">
    dana grupa nie posiada zajęć
</h1>
<script>
    function toggleForm(id) {
        const el = document.getElementById('edit-' + id);
        if (el) {
            el.style.display = el.style.display === 'none' ? 'block' : 'none';
        }
    }
</script>

</body>
</html>
