<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Schedule</title>
    <link rel="stylesheet" th:href="@{/css/schedule.css}" />
</head>
<body>

<div class="container-group-form">
    <h1>Management of the schedule</h1>
    <form method="post" th:action="@{/schedule/getScheduleForGroup}" class="form-group">
        <div>
            <label for="group-select">Student groups</label>
            <select id="group-select" name="groupId" required>
                <option th:value="${selectedGroupId}" disabled selected>Choose group</option>
                <th:block th:each="group : ${groups}">
                    <option th:value="${group.id}" th:text="${group.name}"></option>
                </th:block>
            </select>
        </div>

        <button class="submit" type="submit" >Find</button>
    </form>
</div>
<div th:if="${selectedGroupId != null}" id="create-form-container">
    <button class="submit"  onclick="toggleCreateForm(this)" >Create new Lesson</button>
    <div id="create-form" th:replace="fragments/lesson-form-create :: createForm"></div>
</div>

<div th:each="entry : ${lessonsByDay}">
    <h3 th:text="${entry.key}">Monday</h3>

    <div class="lesson-container"  th:attr="id='day-' + ${entry.key}">
        <div th:each="lesson : ${entry.value}">
            <div th:replace="fragments/lesson-card :: lessonCard(${lesson})" ></div>
        </div>
    </div>
</div>
<div th:replace="fragments/lesson-form-edit :: editForm"></div>

<h1 th:if="${(lessonsByDay == null or #maps.isEmpty(lessonsByDay)) or selectedGroupId != null }">
        This group has no classes
</h1>
<h1 th:if="${selectedGroupId != null}">
    Please select a group to schedule
</h1>

<script>
    function editLesson(el) {
        const form = document.getElementById('edit-form');


        if (form.style.display === "flex" && el.classList.contains("active-edit")) {
            form.style.display = "none";
            el.classList.remove("active-edit");
            return;
        }

        document.querySelectorAll(".edit-icon").forEach(icon => icon.classList.remove("active-edit"));
        el.classList.add("active-edit");

        document.getElementById('lessonId').value = el.dataset.lessonId;

        document.getElementById('subjectId').value = el.dataset.subjectId;
        document.getElementById('oldSubjectId').value = el.dataset.subjectId;

        document.getElementById('teacherId').value = el.dataset.teacherId;
        document.getElementById('oldTeacherId').value = el.dataset.teacherId;

        document.getElementById('typeOfLecture').value = el.dataset.type;
        document.getElementById('oldTypeOfLecture').value = el.dataset.type;

        document.getElementById('classroomId').value = el.dataset.classroomId;
        document.getElementById('oldClassroomId').value = el.dataset.classroomId;

        document.getElementById('startTime').value = el.dataset.time;
        document.getElementById('oldStartTime').value = el.dataset.time;
        document.getElementById('dayOfWeek').value = el.dataset.day;
        document.getElementById('oldDayOfWeek').value = el.dataset.day;
        document.getElementById('assignmentId').value = el.dataset.assignmentId;

        const dayContainer = document.getElementById('day-' + el.dataset.day);
        if (dayContainer) {
            dayContainer.appendChild(form);
            form.style.display = 'flex';
            form.scrollIntoView({ behavior: 'smooth' });
        }
    }

    function toggleCreateForm() {
        const form = document.getElementById("create-form");
        form.style.display = (form.style.display === "flex") ? "none" : "flex";
    }


    document.addEventListener("DOMContentLoaded", () => {
        if (document.querySelector("#create-form .field-error")) {
            document.getElementById("create-form").style.display = "flex";
        }
    });


</script>


    </body>
    </html>
